@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 10;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Urbanist", sans-serif;
  }
  
  .navbar .logo {
    font-size: 1.8em;
    color: aqua;
    font-weight: 600;
  }
  
  .navbar .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .navbar .nav-links li {
    font-size: 1.1em;
  }
  
  .navbar .nav-links li a,
  .navbar .nav-links li button {
    color: aqua;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: none;
    transition: color 0.3s ease;
  }
  
  .navbar .nav-links li a:hover,
  .navbar .nav-links li button:hover {
    color: #45B1E8;
  }
  
  .navbar .menu-toggle {
    display: none;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
  }
  
  
  @media (max-width: 768px) {

    .navbar .nav-links {
      display: none;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;
      align-items: center;
    }
  
    .navbar .menu-toggle {
      display: block;
    }
  
    .navbar.open .nav-links {
      display: flex;
    }
  }
  
  